{% extends 'AnonymousSymBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Praesent semper arcu sed nibh ullamcorper volutpat. Quisque commodo, 
    purus vitae posuere consectetur, magna orci gravida ipsum, non feugiat quam erat at felis. 
    Nulla id laoreet elit. Aliquam dapibus est non lobortis ornare. Phasellus nec vestibulum ante, 
    quis porta urna. Ut commodo mi neque. Fusce eget sapien a augue accumsan elementum sollicitudin ut nibh. 
    Sed faucibus ante eu lorem aliquam, vitae venenatis dolor consectetur.
    </p>

    <p>
    Nam tempus enim non massa tempor, a venenatis risus vulputate. Duis sodales augue non metus volutpat ornare. 
    Curabitur sagittis nibh odio, ac vestibulum magna consequat sit amet. Suspendisse gravida varius nulla id interdum. 
    Cras elit justo, varius vitae sagittis in, adipiscing vitae urna. Maecenas tincidunt posuere sodales. Aliquam ut purus orci. 
    Morbi aliquet lorem ac augue tempus interdum. Nunc in venenatis sapien. Fusce risus erat, venenatis at pharetra eu, posuere ut ligula.
    </p>

    <p>
    Vivamus ut blandit sem, non fermentum lacus. Cras eget rutrum est. Nunc id lacus ante. Aenean convallis sapien nec fringilla gravida. 
    Mauris bibendum mollis malesuada. Vestibulum sed eros mattis mi porttitor euismod nec et augue. Duis sollicitudin, risus ac convallis posuere, 
    est dolor lacinia orci, vitae semper erat risus ut felis. Quisque non tortor eget mauris mattis sodales. 
    Integer sit amet libero ut ipsum sollicitudin bibendum eget ac risus. Sed lobortis risus non tincidunt tempus. 
    Ut eu massa massa. Duis vel sem quis est venenatis laoreet.
    </p>

    <p>
    Vestibulum bibendum rhoncus vestibulum. Morbi ac dapibus diam, ac varius turpis. Nunc interdum a elit id bibendum. 
    Integer at elit quis augue dignissim pulvinar. Aliquam id imperdiet magna. Pellentesque semper justo quam, et laoreet nulla sodales sed. 
    Nullam pellentesque lacus at fringilla posuere. Sed imperdiet felis ac euismod lobortis. Curabitur sed lobortis eros, ut congue augue. 
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque imperdiet, purus quis scelerisque aliquam, 
    elit ipsum eleifend enim, euismod viverra sapien est vitae odio. Aliquam suscipit ac metus a rhoncus. Vestibulum a elit felis. Cum sociis 
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vitae mollis eros. Phasellus at arcu ipsum.
    </p>
{% endblock %}
